body {
  background-color: none;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("https://images.pexels.com/photos/586415/pexels-photo-586415.jpeg");
  color: white;
}
#background {
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0px;
    top: 0px;
    z-index: -1; /* Ensure div tag stays behind content; -999 might work, too. */

}

.blur {
  filter: blur(1px);
  opacity: 0.3;
}

.hauptteil {
  font-size: 20px;
  color: white;
  text-shadow: -1px 0 black, 0 1px black,
      1px 0 black, 0 -1px black;

}
.abstand {
  padding-top: 100px;
}

h1 {
  text-align: center;
}

section {
  text-align: center;
}
.videobereich {
    background-color: orange;
    position: relative;
    height: 0;
    padding-bottom: 56.25%;
}

.videoextern {
    background-color: yellow;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
